footer
    .container
        .row
            .col-12
                h2 Контакти
            .offset-md-3.col-md-4
                img(src='img/pieces/sector2.png', class='sector')
                p 01601, м. Київ, вул. О. Гончара, 55
                    br
                    a(href='mailto:info@vognebortsi.in.ua') info@vognebortsi.in.ua
                ul.social-links
                    li
                        a(href='//www.facebook.com/vognebortsi/', title='Добровольці-вогнеборці', target='_blank')
                            include facebook.html
                    li
                        a(href='//www.youtube.com/channel/UCPML_hloBBUk8G1zH0Q78ZA?view_as=subscriber ', title='Добровольці-вогнеборці', target='_blank')
                            i.fa.fa-youtube
            .col-md-5
                ul.documents
                    li
                        a(href='//www.dsns.gov.ua/ua/Organizaciya-zahodiv-civilnogo-zahistu.html', title='Поради і досвід зі створення місцевих пожежних команд', target='_blank')
                            include list.html
                            | Поради і досвід зі створення місцевих пожежних команд
                    li
                        a(href='mailto:info@vognebortsi.in.ua', title='Створити команду')
                            include team.html
                            | Створити команду


div.container
    .row
        .offset-md-3.col-md-9
            p.copyright Copyright
                a(href='//vognebortsi.in.ua' title='ДСНС')  vognebortsi.in.ua

#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
        .modal-content
            button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .container
                .row
                    .offset-md-1.col-md-10.offset-lg-2.col-lg-8
                        h2 Стати добровольцем-вогнеборцем просто:
                    .offset-md-2.col-md-8.offset-lg-3.col-lg-6
                        ul.fire-list
                            li Завітайте до своєї сільської/селищної/міської ради, щоб дізнатись, чи набирає наразі ваша громада добровольців-вогнеборців;
                            li Заповніть базову анкету;
                            li Пройдіть співбесіду;
                            li Пройдіть навчання за зручним графіком;
                            li Для допомоги на місці пожежі - пройдіть медогляд, отримайте форму та страхування життя і здоров’я;
                        img(src='img/fireman2.png' class='fireman2')
                        img(src='img/pieces/sector2.png' class='sector2')