footer
    .container
        .row
            .col-12
                h2 Контакти
            .offset-md-3.col-md-4
                img(src='img/pieces/sector2.png', class='sector')
                p 01601, м. Київ, вул. О. Гончара, 55
                    br
                    a(href='mailto:') oper@mns.gov.ua
                ul.social-links
                    li
                        a(href='https://www.facebook.com/%D0%94%D0%BE%D0%B1%D1%80%D0%BE%D0%B2%D0%BE%D0%BB%D1%8C%D1%86%D1%96-%D0%B2%D0%BE%D0%B3%D0%BD%D0%B5%D0%B1%D0%BE%D1%80%D1%86%D1%96-1891077464466986/', title='Добровольці-вогнеборці', target='_blank')
                            include facebook.html
            .col-md-5
                ul.documents
                    li
                        a(href='http://www.dsns.gov.ua/ua/Reformuvannya.html', title='Кодекс вогнеборця', target='_blank')
                            include list.html
                            | Кодекс вогнеборця
                    li
                        a(href='http://www.dsns.gov.ua/ua/Reformuvannya.html', title='Створити команду', target='_blank')
                            include team.html
                            | Створити команду

div.container
    .row
        .offset-md-3.col-md-9
            p.copyright Copyright
                a(href='//dsns.com.ua' title='ДСНС')  dsns.gov.ua

#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
        .modal-content
            button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
            .container
                .row
                    .offset-md-1.col-md-10.offset-lg-2.col-lg-8
                        h2 Стати добровольцем-вогнеборцем просто:
                    .offset-md-2.col-md-8.offset-lg-3.col-lg-6
                        ul.fire-list
                            li Завітайте до своєї сільської/селищної/міської ради, щоб дізнатись, чи набирає наразі ваша громада добровольців-вогнеборців;
                            li Заповніть базову анкету;
                            li Пройдіть співбесіду;
                            li Пройдіть навчання за зручним графіком;
                            li Для допомоги на місці пожежі - пройдіть медогляд, отримайте форму та страхування життя і здоров’я;
                        img(src='img/fireman2.png' class='fireman2')
                        img(src='img/pieces/sector2.png' class='sector2')