footer
    .container
        .row
            .offset-md-2.col-md-5
                +img2(src='')
                p 01601, м. Київ, вул. О. Гончара, 55
                    br
                    a(href='mailto:') oper@mns.gov.ua
                ul
                    li
                        +link2('#')
                            i.fa
            .col-md-5
                ul
                    li
                        a Кодекс вогнеборця
                    li
                        a Створити команду

section.container
    .row
        .offset-md-3.col-md-9
            p Copyright
                +link2('//dsns.com.ua') dsns.gov.ua



