header
    .video-container
        .video
            iframe(src='https://www.youtube.com/embed/b0dK0asapBM?rel=0&controls=0&showinfo=0', frameborder='0', allowfullscreen='')
            include play.html
            img(src='img/header/cover.png' class='play-cover')
            .smoke
                img(src='img/header/smoke1.png' class='smoke-left')
                img(src='img/header/smoke2.png' class='smoke-right')
            h1
                | Дізнавайся про добровольців-вогнеборців
