header
    .video-container
        .video
            iframe(src="//www.youtube.com/embed/unNkgpZ-g38?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen)
            include play-head.html
            img(src='img/header/cover.png' class='play-cover')
            .smoke
                img(src='img/header/smoke1.png' class='smoke-left')
                img(src='img/header/smoke2.png' class='smoke-right')
            h1
                | Дізнавайся про добровольців-вогнеборців
