@import '../../utilities/vars'
@import '../../utilities/mixins'

ul
  padding 0
  margin 0

ul.fire-list
  list-style none
  max-width 340px
  li
    position relative
    padding-left 36px
    line-height: 1.75
    &:before
      pseudo(block, absolute)
      left 0
      top 14px
      width 18px
      height 3px
      background $red-a

ol
  margin 0
  counter-reset: item;
  list-style: none
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content space-around
  padding: 17px 13px 109px 88px
  +portrait()
    padding-left 35px
  +mobile()
    padding-left 0
    padding-bottom 59px
  li
    counter-increment: item;
    margin-bottom: 5px;
    position relative
    flex 1 1 33.33333%
    max-width 33.33333%
    padding-left 64px
    padding-top 28px
    padding-right 60px
    line-height: 1.75
    +portrait()
      padding-right 0
    +mobile()
      flex 1 1 100%
      max-width 100%
      margin-bottom 38px
    &:before
      margin-right: 10px
      content: counter(item)
      color $white
      text-align: center
      display block
      font-size 6.25em
      font-weight 600
      position absolute
      top 0
      line-height .8
      left 0
    &:after
      pseudo(block, absolute)
      background $red-a
      height 4px
      width 30px
      top 3px
      left 65px