@import '../../utilities/vars'
@import '../../utilities/mixins'

/* MAIN STYLES */

html
  overflow-x hidden

body
  overflow-x hidden
  font(16px, $black, 400, normal)
  background $gray-a
  padding-top 80px

+displays()
  .container
    width 1160px