@import '../../utilities/vars'
@import '../../utilities/mixins'

/* HEADERS */

h1
  margin 0
  color: $white
  text-align center
  font-size 2.500em
  text-transform uppercase
  max-width 700px
  margin 0 auto
h2
  font-family Circe, sans-serif
  font-weight 800
  color $red-b
  text-transform uppercase
  font-size 2.250em
  text-align center
  margin 0 0 34px

h3 {}
h4 {}
h5 {}
h6 {}

/* PARAGRAPH */
p
  font(1em, $black, 400, 1.75)
