@import '../../utilities/vars'
@import '../../utilities/mixins'

.block-white
  padding 30px
  background $white
  margin 0 2.9rem
  padding: 6.500rem 18rem 14.600rem 16rem
  position relative
  .piece
    position absolute
    top -29px
    right 160px
  .car
    position absolute
    bottom -36%
    left 24%

.block-white.house
  padding: 10.1rem 26rem 22.6rem 25.75rem
  .piece
    position absolute
    top -29px
    left 160px
  .house
    position absolute
    bottom: -8.5%
    left: 5.8%