.button.button-form[disabled] {
  background-color: #898989;
}

.error-form {
  color #e81e27;
  text-align center
}

.success-form {
  color green;
  text-align center
}

.errors-block {
  padding 0;
}

.errors-block p {
  margin 14px 0;
}

.textarea-with-error {
  margin-bottom 0;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
textarea:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
textarea:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */