@import '../../utilities/vars'
@import '../../utilities/mixins'

/* SECTIONS AND ARTICLES */
section
  margin-bottom 249px

#link-first
  margin-bottom 249px
  +mobile()
    margin-bottom 70px

#link-second
  margin-bottom: 139px
  +mobile()
    margin-bottom 85px

#link-third
  margin-bottom 207px
  +mobile()
    margin-bottom 0

#link-fourth
  margin-bottom 229px
  +mobile()
    margin-bottom 70px

#link-fifth
  margin-bottom 228px
  +mobile()
    margin-bottom 70px

#link-sixth
  margin-bottom 247px
  +mobile()
    margin-bottom 90px


article {}

