@import "../../utilities/vars"
@import "../../utilities/mixins"

/* BUTTON */
button
  transitions()

.button
  background $red-a
  color $white
  text-transform uppercase
  font-size 1.500em
  max-width 360px
  width 100%
  text-align center
  display block
  margin 0 auto
  padding 15px 0 16px
  border none
  &:hover
    background $white
    color $red-a
  &:focus
    outline none