.modal-content
  box-shadow none
  border none
  border-radius 0
  padding-top 75px
  padding-bottom 143px
  h2
    font-size 1.625em
  .fire-list
    max-width 100%

.modal-backdrop.in
  opacity .3
  background $red-a

button.close
  color $red-a
  opacity 1
  position absolute
  z-index 20
  top 40px
  right 40px
  text-shadow none
  font-size 35px
  font-weight 300
  &:hover
    color $red-a
    opacity .5

.modal-dialog
  +displays()
    //width: 1072px
    //width calc(100% + 15px)
    width 1130px
    margin-top 6.7%
  +tablet()
    //width 872px
    //width calc(100% + 15px)
    width 930px
    margin-top 7.8%
  +portrait()
    //width 632px
    //width calc(100% + 15px)
    width 690px
    margin-top 8.9%
  +mobile()
    width 100%
    margin 0

.sector2
  position absolute
  top:12%
  left -25%
  +portrait()
    left -33%
  +mobile()
    display none

.fireman2
  position absolute
  top:12%
  right -25%
  +portrait()
    right -30%
  +mobile()
    display none
