//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | ДСНС. Добровольці-вогнеборці

block content

    section.container#link-first
        .row
            .col-12
                h2 Для чого?
                .block-white
                    p
                        | Реформа потрібна для зниження рівеня смертності та матеріальних збитків від пожеж. Своєчасне реагування на пожежі в сільській місцевості, зменшити до мінімуму час прибуття допомоги. Професійне реагування громадян. Самодопомога. Мета реформи донесті до свідомості громадян рівень небезпеки
                        br
                        |  та можливості її усунення.
                    img(src='../img/pieces/sector1.png' class='piece')
                    img(src='../img/pieces/car.png' class='car')

    section.container#link-second
        .row
            .col-12
                h2 Як це працює?
            .col-12
                ol
                    li Вдосконалення системи реагування підрозділів ДСНС
                    li Розширення мережі місцевих пожежних команд
                    li Залучення добровольців до забезпечення пожежної охорони
            .col-12
                .block-white.house
                    p
                        | З отриманням інформації про пожежу добровольці-пожежники прибувають на місце події та спільно з місцевою пожежною командою здійснюють гасіння пожежі. Час оперативного реагування зменшується, а ефективність збільшується.
                    img(src='../img/pieces/sector1.png' class='piece')
                    img(src='../img/pieces/house.png' class='house')

    section#link-third
        h2 Досвід інших країн

        .tab-content
            .container
                .row
                    .col-12
                        a.arrow-left(href='#' title='')
                        a.arrow-right(href='#' title='')

            #usa.tab-pane.active(role='tabpanel')
                .container
                    .row
                        .offset-md-2.col-md-7.offset-lg-2.col-lg-5
                            h3 США
                            p
                                | Добровольці-вогнеборці ефективно допомагають в багатьох країнах світу.
                                br
                                | 72% - саме така кількість добровольців-вогнеборців на службі пожежної охорони США.
            #aut.tab-pane(role='tabpanel')
                .container
                    .row
                        .offset-md-2.col-md-7.offset-lg-2.col-lg-5
                            h3 Австрія
                            p
                                | Добровольці-вогнеборці ефективно допомагають в багатьох країнах світу.
                                br
                                | 72% - саме така кількість добровольців-вогнеборців на службі пожежної охорони США.
            #ger.tab-pane(role='tabpanel')
                .container
                    .row
                        .offset-md-2.col-md-7.offset-lg-2.col-lg-5
                            h3 Німеччина
                            p
                                | Добровольці-вогнеборці ефективно допомагають в багатьох країнах світу.
                                br
                                | 72% - саме така кількість добровольців-вогнеборців на службі пожежної охорони США.
            #swe.tab-pane(role='tabpanel')
                .container
                    .row
                        .offset-md-2.col-md-7.offset-lg-2.col-lg-5
                            h3 Швеція
                            p
                                | Добровольці-вогнеборці ефективно допомагають в багатьох країнах світу.
                                br
                                | 72% - саме така кількість добровольців-вогнеборців на службі пожежної охорони США.
            #chl.tab-pane(role='tabpanel')
                .container
                    .row
                        .offset-md-2.col-md-7.offset-lg-2.col-lg-5
                            h3 Китай
                            p
                                | Добровольці-вогнеборці ефективно допомагають в багатьох країнах світу.
                                br
                                | 72% - саме така кількість добровольців-вогнеборців на службі пожежної охорони США.
            // Nav tabs
        .container
            .row
                .offset-md-1.col-md-10
                    ul.nav.nav-tabs(role='tablist')
                        li.active(role='presentation')
                            a(href='#usa', aria-controls='home', role='tab', data-toggle='tab') USA
                        li(role='presentation')
                            a(href='#aut', aria-controls='profile', role='tab', data-toggle='tab') AUT
                        li(role='presentation')
                            a(href='#ger', aria-controls='messages', role='tab', data-toggle='tab') GER
                        li(role='presentation')
                            a(href='#swe', aria-controls='settings', role='tab', data-toggle='tab') SWE
                        li(role='presentation')
                            a(href='#chl', aria-controls='settings', role='tab', data-toggle='tab') CHL


    section.container#link-fourth
        .row
            .col-12
                h2 ХТО МОЖЕ БУТИ ДОБРОВОЛЬЦЕМ?
                .block-white.fire
                    img(src='../img/pieces/sector3.png' class='sector3')
                    .row
                        .col-md-5
                            +img('img/fireman.png', 'fireman')

                        .col-md-7
                            p
                                | Кожен може стати добровольцем-вогнеборцем, без обмежень по віку та статі. Для гасіння пожеж, доброволець-вогнеборець має відповідати наступним вимогам:
                            ul.fire-list
                                li Вік 21-60
                                li Без обмежень по статі
                                li Відсутність медичних протипоказань до фізичної роботи
            .col-12
                a(href="#" class="button" data-toggle="modal" data-target="#myModal") Долучитись

    section.container#link-fifth
        .row
            .col-12
                h2 Тренування
            .col-md-4
                .video-container.small
                    .video
                        iframe(src='https://www.youtube.com/embed/b0dK0asapBM?rel=0&controls=0&showinfo=0', frameborder='0', allowfullscreen='')
                        include partials/play.html
                        img(src='img/video/video1.png' class='play-cover')

                    p Вдосконалення системи реагування підрозділів ДСНС
            .col-md-4
                .video-container.small
                    .video
                        iframe(src='https://www.youtube.com/embed/b0dK0asapBM?rel=0&controls=0&showinfo=0', frameborder='0', allowfullscreen='')
                        include partials/play.html
                        img(src='img/video/video2.png' class='play-cover')

                    p Вдосконалення системи реагування підрозділів ДСНС
            .col-md-4
                .video-container.small
                    .video
                        iframe(src='https://www.youtube.com/embed/b0dK0asapBM?rel=0&controls=0&showinfo=0', frameborder='0', allowfullscreen='')
                        include partials/play.html
                        img(src='img/video/video3.png' class='play-cover')

                    p Вдосконалення системи реагування підрозділів ДСНС
        .row
            .col-12
                a(href="#" class="button") Показати більше

    section.container#link-sixth
        .row
            .offset-md-1.col-md-10.offset-lg-2.col-lg-8
                h2 ЗАЛИШИЛИСЬ ЗАПИТАННЯ?
                form
                    input(type='text' placeholder="І'мя")
                    input(type='email' placeholder='E-mail')
                    textarea(placeholder='Текст запитання')
                    button(type='submit' class='button') Відправити


