//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | ДСНС. Добровольці-вогнеборці

block content

    section.car-wrap.container#link-first
        .row
            .col-12
                h2 Для чого?
                .block-white
                    p
                        | Залучення добровольців-вогнеборців до системи пожежної безпеки – важливий та необхідний крок. Спільні дії добровольців-вогнеборців та місцевих пожежних команд  забезпечать своєчасне реагування на пожежі у віддаленій місцевості, селах та містах та зменшить час прибуття допомоги. Таким чином разом вдасться знизити до мінімуму людські жертви та матеріальні збитки.
                    img(src='img/pieces/sector1.png' class='piece')
                    //img(src='../img/pieces/car.png' class='car')
                    .car-block
                        img(src='img/car/car.png' class='car')
                        img(src='img/car/wheel1.png' class='wheel1')
                        img(src='img/car/wheel2.png' class='wheel2')
                        img(src='img/car/wheel3.png' class='wheel3')

    section.container#link-second
        .row
            .col-12
                h2 Як це працює?
            .col-12
                ol
                    li Вдосконалення системи реагування підрозділів ДСНС
                    li Розширення мережі місцевих пожежних команд
                    li Залучення добровольців до забезпечення пожежної охорони

            .col-12
                .block-white.house
                    p
                        | Після отримання інформації про пожежу, добровольці-вогнеборці прибувають на місце події та готують його до прибуття пожежної команди. Вогнеборці готові надавати домедичну допомогу постраждалим на місці пожежі та допомагати при надзвичайних ситуаціях. Вони займаються з дітьми та дорослими щодо попередження пожеж, а також є прикладом відповідального мешканця для своєї громади.
                    img(src='img/pieces/sector1.png' class='piece')
                    //img(src='../img/pieces/house.png' class='house')
                    include partials/house.html

    section#link-third
        h2 Досвід інших країн

        .tab-content.exp-tabs
            .container
                .row
                    .col-12
                        a.arrow-left.exp-left(href='#' title='')
                        a.arrow-right.exp-right(href='#' title='')

            #usa.tab-pane.active(role='tabpanel')
                .container
                    .row
                        .offset-md-2.col-md-7.offset-lg-2.col-lg-5
                            h3 США
                            p
                                | Добровольці-вогнеборці ефективно допомагають в багатьох країнах світу.
                                br
                                | 72% - саме така кількість добровольців-вогнеборців на службі пожежної охорони США.
            #aut.tab-pane(role='tabpanel')
                .container
                    .row
                        .offset-md-2.col-md-7.offset-lg-2.col-lg-5
                            h3 Австрія
                            p
                                | Добровольці-вогнеборці ефективно допомагають в багатьох країнах світу.
                                br
                                | 72% - саме така кількість добровольців-вогнеборців на службі пожежної охорони США.
            #ger.tab-pane(role='tabpanel')
                .container
                    .row
                        .offset-md-2.col-md-7.offset-lg-2.col-lg-5
                            h3 Німеччина
                            p
                                | Добровольці-вогнеборці ефективно допомагають в багатьох країнах світу.
                                br
                                | 72% - саме така кількість добровольців-вогнеборців на службі пожежної охорони США.
            #swe.tab-pane(role='tabpanel')
                .container
                    .row
                        .offset-md-2.col-md-7.offset-lg-2.col-lg-5
                            h3 Швеція
                            p
                                | Добровольці-вогнеборці ефективно допомагають в багатьох країнах світу.
                                br
                                | 72% - саме така кількість добровольців-вогнеборців на службі пожежної охорони США.
            #chl.tab-pane(role='tabpanel')
                .container
                    .row
                        .offset-md-2.col-md-7.offset-lg-2.col-lg-5
                            h3 Китай
                            p
                                | Добровольці-вогнеборці ефективно допомагають в багатьох країнах світу.
                                br
                                | 72% - саме така кількість добровольців-вогнеборців на службі пожежної охорони США.
            // Nav tabs
        .container
            .row
                .offset-md-1.col-md-10
                    ul.experience.nav.nav-tabs(role='tablist')
                        li.active(role='presentation')
                            a(href='#usa', aria-controls='home', role='tab', data-toggle='tab') USA
                        li(role='presentation')
                            a(href='#aut', aria-controls='profile', role='tab', data-toggle='tab') AUT
                        li(role='presentation')
                            a(href='#ger', aria-controls='messages', role='tab', data-toggle='tab') GER
                        li(role='presentation')
                            a(href='#swe', aria-controls='settings', role='tab', data-toggle='tab') SWE
                        li(role='presentation')
                            a(href='#chl', aria-controls='settings', role='tab', data-toggle='tab') CHL


    section.container#link-fourth
        .row
            .col-12
                h2 ХТО МОЖЕ БУТИ ДОБРОВОЛЬЦЕМ?
                .block-white.fire
                    img(src='img/pieces/sector3.png' class='sector3')
                    .row
                        .col-md-5
                            //+img('img/fireman.png', 'fireman')
                            include partials/fireman.html

                        .col-md-7
                            p
                                b Кожен
                                |  може стати добровольцем-вогнеборцем,
                                b  незалежно від віку та статі
                                |  і приносити користь своїй громаді, займаючись превентивною діяльністю по пожежній безпеці.
                            p
                                | Проте для виїзду на місце пожежі та іншої ризикової діяльності, доброволець-вогнеборець повинен відповідати наступним вимогам :
                            ul.fire-list
                                li Вік 21-60
                                li Без обмежень по статі
                                li Відсутність медичних протипоказань до фізичної роботи
            .col-12
                a(href="#" class="button" data-toggle="modal" data-target="#myModal") Долучитись

    section.container#link-fifth
        .row
            .col-12
                h2 Тренування
            .col-md-4
                .video-container.small
                    .video
                        iframe(src='https://www.youtube.com/embed/b0dK0asapBM?rel=0&controls=0&showinfo=0', frameborder='0', allowfullscreen='')
                        include partials/play.html
                        img(src='img/video/video1.png' class='play-cover')

                    p Вдосконалення системи реагування підрозділів ДСНС
            .col-md-4
                .video-container.small
                    .video
                        iframe(src='https://www.youtube.com/embed/b0dK0asapBM?rel=0&controls=0&showinfo=0', frameborder='0', allowfullscreen='')
                        include partials/play.html
                        img(src='img/video/video2.png' class='play-cover')

                    p Вдосконалення системи реагування підрозділів ДСНС
            .col-md-4
                .video-container.small
                    .video
                        iframe(src='https://www.youtube.com/embed/b0dK0asapBM?rel=0&controls=0&showinfo=0', frameborder='0', allowfullscreen='')
                        include partials/play.html
                        img(src='img/video/video3.png' class='play-cover')

                    p Вдосконалення системи реагування підрозділів ДСНС
        .row
            .col-12
                a(href="#" class="button") Показати більше

    section.container#link-sixth
        .row
            .offset-md-1.col-md-10.offset-lg-2.col-lg-8
                h2 ЗАЛИШИЛИСЬ ЗАПИТАННЯ?
                form.contact-form
                    input(type='text' placeholder="І'мя")
                    input(type='email' placeholder='E-mail')
                    textarea(placeholder='Текст запитання')
                    .col-12.errors-block
                        p.error-form
                        p.success-form
                    button(type='submit' class='button button-form') Відправити


