//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | ДСНС. Добровольці-вогнеборці

block content

    section.car-wrap.container#link-first
        .row
            .col-12
                h2 Для чого?
                .block-white
                    p
                        | Доброволець-вогнеборець — перший помічник професійного пожежного. Він займається профілактикою пожеж, роз’яснювальною роботою з населенням і першим реагує на пожежу, що виникла в його громаді.
                    p
                        | Спільними діями добровольці-вогнеборці та пожежні команди забезпечать ефективне попередження пожеж, своєчасне надання домедичної допомоги, швидке реагування на пожежі у віддалених населених пунктах.
                    p
                        | Головна мета — знизити до мінімуму людські жертви та матеріальні збитки.
                    img(src='img/pieces/sector1.png' class='piece')
                    //img(src='../img/pieces/car.png' class='car')
                    .car-block
                        img(src='img/car/car.png' class='car')
                        img(src='img/car/wheel1.png' class='wheel1')
                        img(src='img/car/wheel2.png' class='wheel2')
                        img(src='img/car/wheel3.png' class='wheel3')
                        img(src='img/car/shadow.png' class='car-shadow')

    section.container#link-second
        .row
            .col-12
                h2 Як це працює?
            .col-12
                ol
                    li Вдосконалення системи реагування підрозділів ДСНС
                    li Розширення мережі місцевих пожежних команд
                    li Залучення добровольців до забезпечення пожежної охорони

            .col-12
                .block-white.house
                    p
                        | Добровольці проходять підготовку, вчаться надавати домедичну допомогу на місці пожежі, допомагати при надзвичайних ситуаціях, навчати пожежній безпеці дітей та дорослих. Отримавши досвід, добровольці-вогнеборці працюють разом з пожежною командою на місці пожежі.
                    p
                        | Якщо Вам не байдужа безпека вашої родини і громади, якщо Ви готові присвячувати свій час, сили та знання для їх захисту - долучайтесь до команди добровольців-вогнеборців.
                    img(src='img/pieces/sector1.png' class='piece')
                    //img(src='../img/pieces/house.png' class='house')
                    include partials/house.html
                    img(src='img/pieces/helphouse.png' class='helphouse')

    section#link-third
        h2 Досвід інших країн

        .tab-content.exp-tabs
            .container
                .row
                    .col-12
                        a.arrow-left.exp-left(href='#')
                        a.arrow-right.exp-right(href='#')

            #usa.tab-pane.active(role='tabpanel')
                .container
                    .row
                        .offset-md-2.col-md-7.offset-lg-2.col-lg-5
                            h3 США
                            p
                                | У США чисельність пожежних добровольців 72%.
                                br
                                | Добровольці гасять пожежі безкоштовно, вважаючи, що таким чином допомагають своєму місту або селищу.
            #aut.tab-pane(role='tabpanel')
                .container
                    .row
                        .offset-md-2.col-md-7.offset-lg-2.col-lg-5
                            h3 Австрія
                            p
                                | ДПО організовують, забезпечують і фінансують муніципальні органи земель і громад.
                                br
                                | Підрозділи добровольців організовані за принципом професійних частин, але мають дуже обмежений оплачуваний склад.
            #ger.tab-pane(role='tabpanel')
                .container
                    .row
                        .offset-md-2.col-md-7.offset-lg-2.col-lg-5
                            h3 Німеччина
                            p
                                | У Німеччині з усіх членів ДПО 80% живуть в сільській місцевості. Оперативний час прибуття — 8 хвилин.
            #swe.tab-pane(role='tabpanel')
                .container
                    .row
                        .offset-md-2.col-md-7.offset-lg-2.col-lg-5
                            h3 Швеція
                            p
                                | У Швеції добровільна пожежна охорона становить понад 80% чисельності пожежної охорони країни.
                                br
                                | Відповідальність за організацію і діяльність добровольчої пожежної охорони несуть муніципалітети.
            #chl.tab-pane(role='tabpanel')
                .container
                    .row
                        .offset-md-2.col-md-7.offset-lg-2.col-lg-5
                            h3 Чилі
                            p
                                | В Чилі пожежною справою займаються виключно добровольці.
            // Nav tabs
        .container
            .row
                .offset-md-1.col-md-10
                    ul.experience.nav.nav-tabs(role='tablist')
                        li.active(role='presentation')
                            a(href='#usa', aria-controls='home', role='tab', data-toggle='tab') USA
                        li(role='presentation')
                            a(href='#aut', aria-controls='profile', role='tab', data-toggle='tab') AUT
                        li(role='presentation')
                            a(href='#ger', aria-controls='messages', role='tab', data-toggle='tab') GER
                        li(role='presentation')
                            a(href='#swe', aria-controls='settings', role='tab', data-toggle='tab') SWE
                        li(role='presentation')
                            a(href='#chl', aria-controls='settings', role='tab', data-toggle='tab') CHL


    section.container#link-fourth
        .row
            .col-12
                h2 ХТО МОЖЕ БУТИ ДОБРОВОЛЬЦЕМ?
                .block-white.fire
                    img(src='img/pieces/sector3.png' class='sector3')
                    .row
                        .col-md-5
                            //+img('img/fireman.png', 'fireman')
                            include partials/fireman.html

                        .col-md-7
                            p
                                | Кожен може приносити користь своїй громаді! Для профілактичних робіт та просвітницької діяльності потрібні відповідальні громадяни, незалежно від віку та статі.
                            p
                                | Для виїзду на місце пожежі та діяльності пов’язаної з надзвичайними ситуаціями, доброволець-вогнеборець має відповідати наступним вимогам :
                            ul.fire-list
                                li Вік 21-60
                                li Без обмежень по статі
                                li Без медичних протипоказань до фізичної роботи та роботи із засобами захисту дихання
            .col-12
                a(href="#" class="button" data-toggle="modal" data-target="#myModal") Долучитись

    section.container#link-fifth
        .row
            .col-12
                h2 Тренування
            .col-md-4
                .video-container.small
                    .video
                        iframe(src='//www.youtube.com/embed/-aDCaDsmGVE?rel=0&amp;showinfo=0', frameborder='0', allowfullscreen='')
                        include partials/play.html
                        img(src='img/video/video1.jpg' class='play-cover')

                    p Змотування пожежного рукава, урок №1
            .col-md-4
                .video-container.small
                    .video
                        iframe(src='//www.youtube.com/embed/Pf7j-UgjAM0?rel=0&amp;showinfo=0', frameborder='0', allowfullscreen='')
                        include partials/play.html
                        img(src='img/video/video2.jpg' class='play-cover')

                    p Використання пожежної драбини
            .col-md-4
                .video-container.small
                    .video
                        iframe(src='//www.youtube.com/embed/yxPCOhuxCuI?rel=0&amp;showinfo=0', frameborder='0', allowfullscreen='')
                        include partials/play.html
                        img(src='img/video/video3.jpg' class='play-cover')

                    p Змотування пожежного рукава, урок №2
        .row
            .col-12
                a(href="https://www.youtube.com/channel/UCPML_hloBBUk8G1zH0Q78ZA" title='Youtube-канал' class="button") Показати більше

    section.container#link-sixth
        .row
            .offset-md-1.col-md-10.offset-lg-2.col-lg-8
                h2 ЗАЛИШИЛИСЬ ЗАПИТАННЯ?
                form.contact-form
                    input(type='text' placeholder="І'мя")
                    input(type='email' placeholder='E-mail')
                    textarea(placeholder='Текст запитання')
                    .col-12.errors-block
                        p.error-form
                        p.success-form
                    button(type='submit' class='button button-form') Відправити